body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main h1 {
  text-align: center;
}

section {
  min-height: 300px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  box-shadow: 2px 5px 4px 5px #888888;
}

section h3, section form, section .img {
    text-align: center;
}